<div style="background-color:brown">
   
  <h1 style="text-align:center">GAME OF THRONES</h1>

<div style="background-color:crimson">
<nav class="navbar navbar-expand-lg navbar-light bg-red">
   <a class="navbar-brand" href="https://www.hbo.com/game-of-thrones"><img src="./assets/got7.jpg"  width="200px" height="40px" ></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class="navbar-nav">
       <li class="nav-item active">
         <a class="nav-link" href="#"><a [routerLink]="['/home']">Home</a><span class="sr-only">(current)</span></a>
       </li>
       <br>
       <br>
       

       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Filter
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           
          <a class="dropdown-item" href="#"><a [routerLink]="['/character']">Character</a></a>
           <a class="dropdown-item" href="#"><a [routerLink]="['/episode']">Houses</a></a>
           <a class="dropdown-item" href="#"><a [routerLink]="['/book']">Book</a></a>
         </div>
       </li>
     </ul>
   </div>
 </nav>
 </div>
 </div>
 <router-outlet></router-outlet>