div
{
    background-color:crimson;
}h1{
    font-size:600%;
    font-style:bold;
padding-block-end: 0%;
color: beige;
}
.navi{
    font-style:bold;
    font-size: 100%;
    
    
}
a{
    font-size: 20px;
    font-style: bold;
}